body {

}


.searcher {
  float: left;
  width: 200px;
}

.editor {
  float: right;
  width: 70%;
}

.ingress {
  font-weight: bold;
}

.puff {
  margin: 10px;
  padding: 10px;
}



.editable {
  background: #ddd;
  border: dashed #aaa 1px;
}
